<app-toolbar [title]=" '100 Angular Challenges' ">
  <nav navigation>
    <ul>
      <li>Components</li>
      <li>Directives</li>
      <li>Services</li>
      <li>Pipes</li>
      <li>Other</li>
    </ul>
  </nav>
</app-toolbar>
<section class="section">
  <app-card 
      [name]=" 'Allan' " 
      [avatarURL]=" 'https://picsum.photos/50/50' "
      [isEmployed]="true">
    <div class="card-text" body>Content of card 1</div>
    <div class="card-footer" footer>Footer of card 1</div>
  </app-card>
  <app-card 
      [name]=" 'Sara' " 
      [avatarURL]=" 'https://picsum.photos/50/50' "
      [isEmployed]="false">
      <div class="card-text" body>Content of card 2</div>
      <div class="card-footer" footer>Footer of card 2</div>
  </app-card>
  <app-card 
      [name]=" 'David' " 
      [avatarURL]=" 'https://picsum.photos/50/50' "
      [isEmployed]="true">
      <div class="card-text" body>Content of card 3</div>
      <div class="card-footer" footer>Footer of card 3</div>
  </app-card>
  <app-card 
      [name]=" 'Ben' " 
      [avatarURL]=" 'https://picsum.photos/50/50' "
      [isEmployed]="false">
      <div class="card-text" body>Content of card 4</div>
      <div class="card-footer" footer>Footer of card 4</div>
  </app-card>
</section>
<section class="accordion">
  <app-accordion></app-accordion>
</section>
<section class="section-progress-bar">
  <app-progress-bar [percentage]="60"></app-progress-bar>
  <br/>
  <app-progress-bar [percentage]="90"></app-progress-bar>
  <br/>
  <app-progress-bar [percentage]="10"></app-progress-bar>
</section>
<section class="section-ratings">
  <app-ratings [rating]="0"></app-ratings>
  <br/>
  <app-ratings [rating]="2.5"></app-ratings>
  <br/>
  <app-ratings [rating]="4"></app-ratings>
  <br/>
  <app-ratings [rating]="1.5"></app-ratings>
  <br/>
  <app-ratings [rating]="5"></app-ratings>
</section>
